/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Commenti relativi ai tag */
body{
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 80px;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 50px;
}

h1{
    display: inline-block;
}

h2{
}

li{
    list-style: none;
    padding: 10px 0;
    color: #434851;
}

/* Commenti relativi alle classi */

.container-head{
    width: 60%;
    height: 70px;
    background-color: white;
    margin: 0 auto;
    padding-left: 60px;
    line-height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-body{
    width: 60%;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 3px;
    padding-left: 60px;
    padding-top: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lists{
    margin-bottom: 40px;
}


.colored-tag{
    display: inline-block;
    padding: 6px 12px;
    color: white;
    font-size: .7em;
    border-radius: 10px;
    margin-left: 6px;
}

.editorial{
    background-color: rgb(36,127,207);
}

.goals{
    background-color: rgb(171,110,211);
}

.recruiting{
    background-color: rgb(65,171,133);
}

.mobile{
    background-color: rgb(243,180,78);
}

.website{
    background-color: rgb(220,65,217);
}

.sales{
    background-color: rgb(81,210,73);
}

.add{
    display: inline-block;
    border-radius: 5px;
    padding: 7px 14px;
    border: none;
}

.button-zero{
    background-color: dodgerblue;
    color: white;
}

.button-one{
    background-color: lightgray;
    color: gray;
    border: 1px solid gray;
}

.circle{
    margin-right: 10px;
    border-radius: 7px;
}

.checked{
    color: green;
    border: 1px solid green;
}

.unchecked{
    color: red;
    border: 1px solid red;
}

/* Commenti relativi agli id */

#title{
    font-weight: 900;
    font-size: 2.3em;
}

#logo{
    vertical-align: bottom;
}