/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Commenti relativi ai tag */
body{
    background-color: rgb(230, 230, 230);
}

header{
    height: 80px;
    background-color: white;
}

h1{
    display: inline-block;
}

h2{
    margin-top: 30px;
}

/* Commenti relativi alle classi */

.container-head{
    width: 60%;
    height: 70px;
    background-color: white;
    margin: 0 auto;
    margin-top: 70px;
    padding-left: 60px;
    padding-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-body{
    width: 60%;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 3px;
    padding-left: 60px;
    padding-top: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.a{
    list-style-type: "\25BC";
}

.check{
    list-style: none;    font-style: normal;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: sans-serif;
}

.colored-tag{
    display: inline-block;
    width: 85px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-left: 6px;
}

.editorial{
    background-color: rgb(36,127,207);
}

.goals{
    background-color: rgb(171,110,211);
}

.recruiting{
    background-color: rgb(65,171,133);
}

.mobile{
    background-color: rgb(243,180,78);
}

.website{
    background-color: rgb(220,65,217);
}

.sales{
    background-color: rgb(81,210,73);
}

.add{
    display: inline-block;
    width: 85px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.button-zero{
    background-color: dodgerblue;
    color: white;
}

.button-one{
    color: gray;
    border: 1px solid gray;
}

.li-pic-check{
    margin-right: 10px;
}

/* Commenti relativi agli id */

#title{
    text-align: bottom;
}

#logo{
    margin-top: 15px;
    margin-left: 15px;
    vertical-align: middle;
}